<div id="footer" class="container container-small">
    <div class="row">
        <div class="col-6">
            <p>Contact Us</p>
            <div>
                <a href="mailto:youthunited.uy@gmail.com" class="whitetext">Email</a>
            </div>
            <div>
                <a href="tel:+37258509241" class="whitetext">Phone</a>
            </div>
            <div>
                <a href="http://t.me/temabelkov" class="whitetext">Telegram</a>
            </div>
        </div>
        <div class="col-6">
            <a href="/" class="yellowtext">Go Back</a>
            <p class="mt-4">Youth United © 2022</p>
            <p class="mt-4">Designed by Michael Filip McLean</p>
        </div>
    </div>
</div>