<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youth United</title>
    <link rel="icon" href="/images/logo.jpg">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap" rel="stylesheet">
</head>
<body>
    <!-- navbar -->
    <div class="logo">
        <img src="/images/logo.jpg" alt="">
    </div>
    <div id="home">
        <div id="large"><b>Youth United</b></div>
        <div class="container container-small">
            <h2>
                The only international youth crisis media dedicated to uniting young people to fight against global issues, oppression and injustice.
            </h2>
            <h5 class="yellowtext">
                <em>We strive for a fair world in which basic civil and political rights are truly universal.</em>
            </h5>
        </div>
    </div>
    <div id="white">
        <div class="container">
            <div class="subpart" href="">
                <h1 class="bluetext">Recent articles</h1>
                <a href="posts/post1">
                    <div class="post">
                        <h2>The liquidation of the Belarussian Youth European Parliament</h2>
                        <h5 class="tealtext">Lia Covaleva · 12 February 2022</h5>
                    </div>
                </a>
                <a href="posts/post2">
                    <div class="post">
                        <h2>Document fără titlu</h2>
                        <h5 class="tealtext">Daniel Luchian · 12 February 2022</h5>
                    </div>
                </a>
                <a href="posts/post3">
                    <div class="post">
                        <h2>Erdogan imprisons journalist</h2>
                        <h5 class="tealtext">Abrar Elmubark · 12 February 2022</h5>
                    </div>
                </a>
            </div>
            <div class="subpart">
                <h1 class="bluetext display-2">History</h1>
                <div class="event">
                    <h5 class="tealtext">19. January 2020</h5>
                    <h3>Youth United officially started existing with its first article: Bilingualism in Teenagers, written by Andrei, our first author.</h3>
                    <h5>In only a year and a half, we have been able to turn our project into a unique international youth media organization. Founded by a team of aspiring young Europeans experts, Youth United commits itself to upholding European values from its very start.</h5>
                </div>
                <div class="event">
                    <h5 class="tealtext">December 2020</h5>
                    <h5>The publishing of our first few posts, mainly about socio-political issues in Eastern Europe.</h5>
                </div>
                <div class="event">
                    <h5 class="tealtext">March 2021</h5>
                    <h5>Expansion of the editorship team, started creating audiovisual content, and decided to focus on collaborating with even more prominent youth media portals.</h5>
                </div>
                <div class="event">
                    <h5 class="tealtext">May 2021</h5>
                    <h3>50 articles published in youth newspapers, portals, and various Instagram pages.
                    </h3>
                </div>
                <div class="event">
                    <h5 class="tealtext">August 2021</h5>
                    <h5>Our team now consisted of 10 young people actively involved in the project</h5>
                </div>
                <div class="event">
                    <h5 class="tealtext">September 2021</h5>
                    <h5>We have reset our project, having decided to rebuild it based on the principles of Human-Centered Design Thinking. Using a complex validation process, we have redefined Youth United along the principles of solidarity, transparency, healing through storytelling, and progressivism.
                    </h5>
                </div>
                <div class="event">
                    <h5 class="tealtext">October 2021</h5>
                    <h5>The decision to focus on topics meant to unify youth around the world is taken. Youth United now had a clear plan for its development and for the articles that would soon start to be written.
                    </h5>
                </div>
                <div class="event">
                    <h5 class="tealtext">December 2021</h5>
                    <h3>The biggest expansion of our team yet.</h3>
                    <h5>Our team now consisted of people from the United Kingdom, Romania, Estonia, Italy, Moldova, Sweden, Russia, and Slovakia.
                    </h5>
                </div>
                <div class="event">
                    <h5 class="tealtext">January 2022</h5>
                    <h5>The decision to formalize is taken. We weren't only going to to publish our materials on external platforms, but we also decided to create our own Instagram page and website.
                    </h5>
                </div>
            </div>
            <div class="subpart">
                <h1 class="bluetext display-2">Our Future</h1>
                <h5>We plan on continuing the already-established model of information-sharing through external media. However, our main focus is now expanding our own platform as European storytellers, telling graceful and uplifting content meant to vitalize youth around Europe in the creation of an activism-based youth scene.</h5>
                <h5>However, to be successful in our endeavors, we need more resources. While we already have young people who are ready to support us voluntarily, we also need financial resources to keep our website running. If you want to support us, please contact our organizational manager Artem Belkov and consider supporting us on Patreon.</h5>
            </div>
            <div class="subpart">
                <h1 class="bluetext display-2">The Team</h1>
                <h5>Currently consisting of 15 aspiring young Europeans, including Young European Ambassadors to the Eastern Partnership, previous winners of the European Citizen's prize, and many others, our team proudly supports solidarity between all people on the European continent.</h5>
                <div>
                    <h3 class="mt-4">Marketing House</h3>
                    <div class="row">
                        <div class="member col-lg-6">
                            <img class="member-body profile-pic" src="/images/people/katya.png" alt="">
                            <div class="member-body">
                                <h4 class="bluetext">Marketing Manager</h4>
                                <h3>Katya <img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Flag_of_Russia.svg" alt=""></h3>
                                <p class="tealtext"></p>
                            </div>
                        </div>
                        <div class="member col-lg-6">
                            <img class="member-body profile-pic" src="/images/people/alice.png" alt="">
                            <div class="member-body">
                                <h4 class="bluetext">Designer</h4>
                                <h3>Alice <img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Flag_of_Slovakia.svg/1280px-Flag_of_Slovakia.svg.png" alt=""></h3>
                                <p class="tealtext"></p>
                            </div>
                        </div>
                    </div>
                    <h3 class="mt-4">Creator House</h3>
                    <div class="row">
                        <div class="member col-lg-6">
                            <img class="member-body profile-pic" src="/images/people/catalin.png" alt="">
                            <div class="member-body">
                                <h4 class="bluetext">Editor-In-Chief</h4>
                                <h3>Cătălin <img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Flag_of_Belgium_%28civil%29.svg/2560px-Flag_of_Belgium_%28civil%29.svg.png" alt=""></h3>
                                <p class="tealtext"></p>
                            </div>
                        </div>
                        <div class="member col-lg-6">
                            <img class="member-body profile-pic" src="/images/people/dan.png" alt="">
                            <div class="member-body">
                                <h4 class="bluetext">Author</h4>
                                <h3>Dan <img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Flag_of_Moldova.svg/2560px-Flag_of_Moldova.svg.png" alt=""></h3>
                                <p class="tealtext"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="member col-lg-6">
                            <img class="member-body profile-pic" src="/images/people/regina.png" alt="">
                            <div class="member-body">
                                <h4 class="bluetext">Author</h4>
                                <h3>Regina <img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/7/75/Flag_of_Estonia.jpg" alt=""></h3>
                                <p class="tealtext"></p>
                            </div>
                        </div>
                        <div class="member col-lg-6">
                            <img class="member-body profile-pic" src="/images/people/lia.jpg" alt="">
                            <div class="member-body">
                                <h4 class="bluetext">Author</h4>
                                <h3>Lia <img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Flag_of_Moldova.svg/2560px-Flag_of_Moldova.svg.png" alt=""></h3>
                                <p class="tealtext"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="member col-lg-6">
                            <img class="member-body profile-pic" src="/images/people/sonya.png" alt="">
                            <div class="member-body">
                                <h4 class="bluetext">Author</h4>
                                <h3>Sonya <img class="flag" src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1024px-Flag_of_the_United_Kingdom.svg.png" alt=""></h3>
                                <p class="tealtext"></p>
                            </div>
                        </div>
                        <div class="member col-lg-6">
                            <img class="member-body profile-pic" src="/images/people/zlata.png" alt="">
                            <div class="member-body">
                                <h4 class="bluetext">Author</h4>
                                <h3>Zlata <img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Flag_of_Russia.svg" alt=""></h3>
                                <p class="tealtext"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="member col-lg-6">
                            <img class="member-body profile-pic" src="/images/people/riri.png" alt="">
                            <div class="member-body">
                                <h4 class="bluetext">Author</h4>
                                <h3>Riri <img class="flag" src="https://upload.wikimedia.org/wikipedia/en/thumb/4/4c/Flag_of_Sweden.svg/1200px-Flag_of_Sweden.svg.png" alt=""></h3>
                                <p class="tealtext"></p>
                            </div>
                        </div>
                        <div class="member col-lg-6">
                            <img class="member-body profile-pic" src="/images/people/teo.png" alt="">
                            <div class="member-body">
                                <h4 class="bluetext">Author</h4>
                                <h3>Teo <img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Flag_of_Romania.svg/1200px-Flag_of_Romania.svg.png" alt=""></h3>
                                <p class="tealtext"></p>
                            </div>
                        </div>
                    </div>
                    <h3 class="mt-4">Business and Development House</h3>
                    <div class="row">
                        <div class="member col-lg-6">
                            <img class="member-body profile-pic" src="https://lh6.googleusercontent.com/UweROYx2CpzyySl9lOLHkv4lxdhtGBnFgsRUwNq14l89AGy3Wwm5piYXoN55FiEQP3_lg8paORXgbHMr6eNirIEZwbBHLA7U6jhIJAH10L3hXuOBug2fXBY_4BaweMHn6w=w1280" alt="">
                            <div class="member-body">
                                <h4 class="bluetext">Business Manager</h4>
                                <h3>Tyoma <img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Flag_of_Slovakia.svg/1280px-Flag_of_Slovakia.svg.png" alt="(Slovakia)"></h3>
                                <p class="tealtext"></p>
                            </div>
                        </div>
                        <div class="member col-lg-6">
                            <img class="member-body profile-pic" src="/images/people/ilia.png" alt="">
                            <div class="member-body">
                                <h4 class="bluetext">Development Manager</h4>
                                <h3>Ilia <img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Flag_of_Slovakia.svg/1280px-Flag_of_Slovakia.svg.png" alt=""></h3>
                                <p class="tealtext"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="member col-lg-6">
                            <img class="member-body profile-pic" src="/images/people/zenja.png" alt="">
                            <div class="member-body">
                                <h4 class="bluetext">Mood Manager</h4>
                                <h3>Zenja <img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/7/75/Flag_of_Estonia.jpg" alt=""></h3>
                                <p class="tealtext"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="container container-small">
        <div class="row">
            <div class="col-6">
                <p>Contact Us</p>
                <div>
                    <a href="mailto:youthunited.uy@gmail.com" class="whitetext">Email</a>
                </div>
                <div>
                    <a href="tel:+37258509241" class="whitetext">Phone</a>
                </div>
                <div>
                    <a href="http://t.me/temabelkov" class="whitetext">Telegram</a>
                </div>
            </div>
            <div class="col-6">
                <p>Youth United © 2022</p>
                <a href="" class="yellowtext">Back to top</a>
            </div>
        </div>
    </div>
</body>
</html>