<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youth United</title>
    <meta name="description" content="A bold international youth media platform dedicated to uniting young voices in the fight against oppression and injustice all around the world.">

    <link rel="icon" href="/images/logo.jpg">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap" rel="stylesheet">
</head>
<body>
    <nav id="navbar" class="fixed-top navbarcontent d-flex flex-column justify-content-center">
        <div class="container d-flex mx-auto justify-content-around">
            <a href="#articles" class="whitetext">Recent Articles</a>
            <a href="#history" class="whitetext">History</a>
            <a href="#future" class="whitetext">Our Future</a>
            <a href="#team" class="whitetext">The Team</a>
        </div>
    </nav>
    <div class="logo">
        <a href="#">
            <img src="/images/logo.jpg" alt="">
        </a>
    </div>
    <div id="home">
        <h1 id="large"><b>Youth United</b></h1>
        <div class="container container-small">
            <h2>
                A bold international youth media platform dedicated to uniting young voices in the fight against oppression and injustice all around the world.
            </h2>
            <h5 class="yellowtext">
                <em>We strive for a fair world in which basic civil and political rights are truly universal.</em>
            </h5>
        </div>
    </div>
    <div id="white">
        <div class="container">
            <div id="articles">
                <div class="filler"></div>
                <div class="bluetext display-2 mb-3">Recent Articles</div>
                <a href="posts/post1">
                    <div class="post">
                        <h2>The liquidation of the Belarussian Youth European Parliament</h2>
                        <h5 class="tealtext">Lia Covaliov · 10 February 2022</h5>
                    </div>
                </a>
                <a href="posts/post2">
                    <div class="post">
                        <h2>The queer community in Moldova</h2>
                        <h5 class="tealtext">Daniel Luchian · 5 February 2022</h5>
                    </div>
                </a>
                <a href="posts/post3">
                    <div class="post">
                        <h2>Erdogan imprisons journalist</h2>
                        <h5 class="tealtext">Abrar Elmubark · 7 February 2022</h5>
                    </div>
                </a>
                <a href="posts/post4">
                    <div class="post">
                        <h2>The impact of social media on mental health</h2>
                        <h5 class="tealtext">Regina · 16 February 2022</h5>
                    </div>
                </a>
                <a href="posts/post5">
                    <div class="post">
                        <h2>Civil Assistance Fund as a foreign agent</h2>
                        <h5 class="tealtext">Zlata · 20 February 2022</h5>
                    </div>
                </a>
                <a href="posts/post6">
                    <div class="post">
                        <h2>Stories of heroism in the Ukrainian Conflict</h2>
                        <h5 class="tealtext">Teo · 28 February 2022</h5>
                    </div>
                </a>
            </div>
            <div id="history">
                <div class="filler"></div>
                <div class="bluetext display-2 mb-3">History</div>
                <div class="event">
                    <h5 class="tealtext">19. January 2020</h5>
                    <h3>Youth United officially started existing with its first article: Bilingualism in Teenagers, written by Andrei, our first author.</h3>
                    <h5>In only a year and a half, we have been able to turn our project into a unique international youth media organization. Founded by a team of aspiring young Europeans experts, Youth United commits itself to upholding European values from its very start.</h5>
                </div>
                <div class="event">
                    <h5 class="tealtext">December 2020</h5>
                    <h5>The publishing of our first few posts, mainly about socio-political issues in Eastern Europe.</h5>
                </div>
                <div class="event">
                    <h5 class="tealtext">March 2021</h5>
                    <h5>Expansion of the editorship team, started creating audiovisual content, and decided to focus on collaborating with even more prominent youth media portals.</h5>
                </div>
                <div class="event">
                    <h5 class="tealtext">May 2021</h5>
                    <h3>50 articles published in youth newspapers, portals, and various Instagram pages.
                    </h3>
                </div>
                <div class="event">
                    <h5 class="tealtext">August 2021</h5>
                    <h5>Our team now consisted of 10 young people actively involved in the project</h5>
                </div>
                <div class="event">
                    <h5 class="tealtext">September 2021</h5>
                    <h5>We have reset our project, having decided to rebuild it based on the principles of Human-Centered Design Thinking. Using a complex validation process, we have redefined Youth United along the principles of solidarity, transparency, healing through storytelling, and progressivism.
                    </h5>
                </div>
                <div class="event">
                    <h5 class="tealtext">October 2021</h5>
                    <h5>The decision to focus on topics meant to unify youth around the world is taken. Youth United now had a clear plan for its development and for the articles that would soon start to be written.
                    </h5>
                </div>
                <div class="event">
                    <h5 class="tealtext">December 2021</h5>
                    <h3>The biggest expansion of our team yet.</h3>
                    <h5>Our team now consisted of people from the United Kingdom, Romania, Estonia, Italy, Moldova, Sweden, Russia, and Slovakia.
                    </h5>
                </div>
                <div class="event">
                    <h5 class="tealtext">January 2022</h5>
                    <h5>The decision to formalize is taken. We weren't only going to to publish our materials on external platforms, but we also decided to create our own Instagram page and website.
                    </h5>
                </div>
            </div>
            <div id="future">
                <div class="filler"></div>
                <div class="bluetext display-2 mb-3">Our Future</div>
                <h5>We plan on continuing the already-established model of information-sharing through external media. However, our main focus is now expanding our own platform as European storytellers, telling graceful and uplifting content meant to vitalize youth around Europe in the creation of an activism-based youth scene.</h5>
                <h5>However, to be successful in our endeavors, we need more resources. While we already have young people who are ready to support us voluntarily, we also need financial resources to keep our website running. If you want to support us, please contact our organizational manager Artem Belkov and consider supporting us on Patreon.</h5>
            </div>
            <div id="team">
                <div class="filler"></div>
                <div class="bluetext display-2 mb-3">The Team</div>
                <h5>Currently consisting of 15 aspiring young Europeans, including Young European Ambassadors to the Eastern Partnership, previous winners of the European Citizen's prize, and many others, our team proudly supports solidarity between all people on the European continent.</h5>
                <div>
                    <h3 class="mt-4">Marketing and IT House</h3>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="member">
                                <img class="member-body profile-pic" src="/images/people/katya.png" alt="">
                                <div class="member-body">
                                    <div class="bluetext responsive-4">Marketing Manager</div>
                                    <div class="responsive-3">Katya <img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Flag_of_Russia.svg" alt=""></div>
                                    <div class="tealtext responsive">She/her</div>
                                    <div class="tealtext responsive email">ernikovak@mail.ru</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="member">
                                <img class="member-body profile-pic" src="/images/people/alice.png" alt="">
                                <div class="member-body">
                                    <div class="bluetext responsive-4">Designer</div>
                                    <div class="responsive-3">Alice <img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Flag_of_Slovakia.svg/1280px-Flag_of_Slovakia.svg.png" alt=""></div>
                                    <div class="tealtext responsive">She/her</div>
                                    <div class="tealtext responsive email">alisa.06022004@gmail.com </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="member">
                                <img class="member-body profile-pic" src="/images/people/oliver.JPG" alt="">
                                <div class="member-body">
                                    <div class="bluetext responsive-4">Web Developer</div>
                                    <div class="responsive-3">Oliver <img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Flag_of_Slovakia.svg/1280px-Flag_of_Slovakia.svg.png" alt=""></div>
                                    <div class="tealtext responsive">He/him</div>
                                    <div class="tealtext responsive email">oliver.nagy@student.leaf.academy</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="member">
                                <img class="member-body profile-pic" src="/images/people/kristof.JPG" alt="">
                                <div class="member-body">
                                    <div class="bluetext responsive-4">IT Consultant</div>
                                    <div class="responsive-3">Kristóf <img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Flag_of_Hungary.svg/1200px-Flag_of_Hungary.svg.png" alt=""></div>
                                    <div class="tealtext responsive">He/him</div>
                                    <div class="tealtext responsive email">kristof.varga@student.leaf.academy</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="mt-4">Creator House</h3>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="member">
                                <img class="member-body profile-pic" src="/images/people/catalin.png" alt="">
                                <div class="member-body">
                                    <div class="bluetext responsive-4">Editor-In-Chief</div>
                                    <div class="responsive-3">Cătălin <img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Flag_of_Belgium_%28civil%29.svg/2560px-Flag_of_Belgium_%28civil%29.svg.png" alt=""></div>
                                    <div class="tealtext responsive">He/him</div>
                                    <div class="tealtext responsive email">catalin.dontu@student.leaf.academy</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="member">
                                <img class="member-body profile-pic" src="/images/people/dan.png" alt="">
                                <div class="member-body">
                                    <div class="bluetext responsive-4">Author</div>
                                    <div class="responsive-3">Dan <img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Flag_of_Moldova.svg/2560px-Flag_of_Moldova.svg.png" alt=""></div>
                                    <div class="tealtext responsive">He/him</div>
                                    <div class="tealtext responsive email">whatdoyoumeandan@gmail.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="member">
                                <img class="member-body profile-pic" src="/images/people/regina.png" alt="">
                                <div class="member-body">
                                    <div class="bluetext responsive-4">Author</div>
                                    <div class="responsive-3">Regina <img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/7/75/Flag_of_Estonia.jpg" alt=""></div>
                                    <div class="tealtext responsive">She/her</div>
                                    <div class="tealtext responsive email">regina.krentsel@gmail.com</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="member">
                                <img class="member-body profile-pic" src="/images/people/lia.jpg" alt="">
                                <div class="member-body">
                                    <div class="bluetext responsive-4">Author</div>
                                    <div class="responsive-3">Lia <img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Flag_of_Moldova.svg/2560px-Flag_of_Moldova.svg.png" alt=""></div>
                                    <div class="tealtext responsive">She/they</div>
                                    <div class="tealtext responsive email">lia.covaliov909@gmail.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="member">
                                <img class="member-body profile-pic" src="/images/people/sonya.png" alt="">
                                <div class="member-body">
                                    <div class="bluetext responsive-4">Author</div>
                                    <div class="responsive-3">Sonya <img class="flag" src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1024px-Flag_of_the_United_Kingdom.svg.png" alt=""></div>
                                    <div class="tealtext responsive">She/her</div>
                                    <div class="tealtext responsive email">sofja.soboleva@gmail.com</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="member">
                                <img class="member-body profile-pic" src="/images/people/zlata.png" alt="">
                                <div class="member-body">
                                    <div class="bluetext responsive-4">Author</div>
                                    <div class="responsive-3">Zlata <img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Flag_of_Russia.svg" alt=""></div>
                                    <div class="tealtext responsive">She/her</div>
                                    <div class="tealtext responsive email">weirdomuffin@gmail.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="member">
                                <img class="member-body profile-pic" src="/images/people/riri.png" alt="">
                                <div class="member-body">
                                    <div class="bluetext responsive-4">Author</div>
                                    <div class="responsive-3">Riri <img class="flag" src="https://upload.wikimedia.org/wikipedia/en/thumb/4/4c/Flag_of_Sweden.svg/1200px-Flag_of_Sweden.svg.png" alt=""></div>
                                    <div class="tealtext responsive">She/her</div>
                                    <div class="tealtext responsive email">rirush2004@gmail.com</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="member">
                                <img class="member-body profile-pic" src="/images/people/teo.png" alt="">
                                <div class="member-body">
                                    <div class="bluetext responsive-4">Author</div>
                                    <div class="responsive-3">Teo <img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Flag_of_Romania.svg/1200px-Flag_of_Romania.svg.png" alt=""></div>
                                    <div class="tealtext responsive">They/them</div>
                                    <div class="tealtext responsive email">erika.trusca@gmail.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="mt-4">Business and Development House</h3>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="member">
                                <img class="member-body profile-pic" src="/images/people/tyoma.JPG" alt="">
                                <div class="member-body">
                                    <div class="bluetext responsive-4">Business Manager</div>
                                    <div class="responsive-3">Tyoma <img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Flag_of_Slovakia.svg/1280px-Flag_of_Slovakia.svg.png" alt="(Slovakia)"></div>
                                    <div class="tealtext responsive">He/him</div>
                                    <div class="tealtext responsive email">temabelkovest@gmail.com</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="member">
                                <img class="member-body profile-pic" src="/images/people/ilia.png" alt="">
                                <div class="member-body">
                                    <div class="bluetext responsive-4">Development Manager</div>
                                    <div class="responsive-3">Ilia <img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Flag_of_Slovakia.svg/1280px-Flag_of_Slovakia.svg.png" alt=""></div>
                                    <div class="tealtext responsive">He/him</div>
                                    <div class="tealtext responsive email">ilia.boldyrev@student.leaf.academy</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="member">
                                <img class="member-body profile-pic" src="/images/people/zenja.png" alt="">
                                <div class="member-body">
                                    <div class="bluetext responsive-4">Mood Manager</div>
                                    <div class="responsive-3">Zenja <img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/7/75/Flag_of_Estonia.jpg" alt=""></div>
                                    <div class="tealtext responsive">She/her</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="container container-small">
        <div class="row">
            <div class="col-6">
                <p>Contact Us</p>
                <div>
                    <a href="mailto:youthunited.uy@gmail.com" class="whitetext">Email</a>
                </div>
                <div>
                    <a href="tel:+37258509241" class="whitetext">Phone</a>
                </div>
                <div>
                    <a href="http://t.me/temabelkov" class="whitetext">Telegram</a>
                </div>
            </div>
            <div class="col-6">
                <a href="#" class="yellowtext">Back to top</a>
                <p class="mt-4">Youth United © 2022</p>
                <p class="mt-4">Designed by Michael Filip McLean</p>
            </div>
        </div>
    </div>
</body>
</html>