<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stories of heroism in the Ukrainian Conflict | Youth United</title>
    <link rel="icon" href="/images/logo.jpg">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container whitetext px-3">
        <h1 class="display-3">Stories of heroism in the Ukrainian Conflict</h1>
        <h3>Author: Teo, Editor: Tyoma</h3>
    </div>
    <div class="container article">
        <!-- image 
        <img class="img-fluid" src="/images/posts/stories-of-heroism.jpg" alt="">
        -->
        <h5>Even though the battle in Ukraine seems bleak, there is still hope for the people. With Russia being taken out of SWIFT and with massive sanctions being placed on the Kremlin by the whole international community, Moscow is expected to run out of money soon, with its stock market having crashed and the RU becoming basically worthless. Amidst the conflict, stories of true heroism have come to light, and we are here to share them.</h5>

        <h4>The Ghost of Kyiv</h4>
        <h5>The Ghost of Kyiv is supposedly an urban legend, though his existence has been confirmed by former President Petro Poroshenko. The anonymous MiG-29 pilot is suggested to have shot down six Russian planes on the first day of the incursion in Ukraine. One particular post has claimed that he shot down two SU-35s, one SU-27, one MiG-29 and two SU-25s, and on the 27th of February, reports state that the count shot up to ten planes taken down. Theories have come up regarding his existence, it being considered an amalgamation of several different attacks attributed to one persona. If the Ghost is real, he could be the 21st century's first ace pilot.</h5>
        <h5>The Ukrainian Ministry of Defence have said that, if confirmed, the Ghost may be an experienced pilot from the military reserves. He seems to have gained a cult following, with clips of him in action spreading like wildfire on social media. However, WION could not independently verify the authenticity of these clips. Whether or not he is real matters not, but his story has served its purpose of boosting the morale of Ukrainian forces.</h5>
        
        <h4>The Ukrainian Reaper</h4>
        <h5>Ukraine is in dire need of heroes, especially now when they're fighting for their survival, as well as the survival and triumph of democracy over authoritarianism. According to reports online, a member of the army has been dubbed the 'Ukrainian Reaper', having about twenty confirmed kills in a few days. Images of him have been posted on social media, with his eyes covered as to protect his identity. He has been compared to 'The White Death' Simo Hayha, a Finnish sniper and hero with over 700 confirmed kills. His name is supposedly Volodymyr Vist, and he is hailed as an example of Ukrainian bravery and resilience, defending the streets of Kyiv against the Russian Army. As of right now, we cannot confirm nor deny his existence, and everything said by either side must be taken with a grain of salt.</h5>
        
        <h4>Anonymous - Cyber War</h4>
        <h5>Cyber conflicts are also currently being fought, but in the shadows. Along with its military invasion, Moscow has been accused of undermining Ukraine's cybersecurity. Hacker collective Anonymous has declared cyber war on Russia, having taken credit for hacking the Russian Ministry of Defence database, as well as multiple state TV channels to show pro-Ukraine content. The group has taken to twitter to take credit for the DDoS attacks on Russian websites, and in a video addressed to Vladimir Putin on February 26, the group asked the dictator to "restore the rights of the Ukrainian people and resign as an elected official". The group has, up until this point, disabled multiple government websites, including the state-controlled Russia Today news service - the attack flooding the website with malicious traffic to the point of overload, making it unavailable for at least a few hours, thus stopping the spread of propaganda. On the 25th of February the portal of Russia's Ministry of Defence was down, returning the 418 HTTP error code, this response going back to an old inside joke: the server "is permanently, a Teapot". On the morning of February 26th, the Putin Administration's own portal, Kremlin.ru was down, though it is still unclear if the attack can be credited to Anonymous.</h5>
        
        <h4></h4>
        <h5>Amidst the conflict, it has been shown that the people of Ukraine refuse to back down and keep resisting, with the whole country seemingly fighting back against Russia's oppressive force.</h5>
        <h5>Volodymyr Zelenskyy, comedian turned president, has become a symbol for his people when he turned down an American evacuation offer and said he would remain in Kyiv, his statement: "The fight is here; I need ammunition, not a ride.". He is being hailed for his bravery, for staying in the fighting zone, even though there is a target on his back from the Russian invaders. In a video captioned "do not believe the fakes" he spoke from the streets of Kyiv and shared his intention to stand ground: “I am here. We are not putting down arms. We will be defending our country, because our weapon is truth, and our truth is that this is our land, our country, our children, and we will defend all of this,”, he states.</h5>
        <h5>Fighting besides the president are Kyiv's mayor and former boxing champion Vitali Klitschko, along with his brother Wladimir Klitschko, another former heavyweight boxing champion.</h5>
        
        <h5 class="mt-5">Even though it all seems bleak, there is hope for the people of Ukraine. The Russian economy is actively collapsing, and Ukrainian pushback is at the very least fierce and impressive. Donations and solidarity are crucial at this time. Glory to democracy, Slava Ukraini!</h5>
        
    </div>
    <%- include("../partials/footer-article") %>
</body>