<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Civil Assistance Fund as a foreign agent</title>
    <link rel="icon" href="/images/logo.jpg">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container whitetext px-3">
        <h1 class="display-3">Civil Assistance Fund as a foreign agent</h1>
        <h3>Author: Zlata, Editor: Teo</h3>
    </div>
    <div class="container article">
        <h5>After the Crimean Peninsula was annexed, Russian citizens started to experience being shut down. It’s no secret that as a country becomes militarized and violent, less and less human rights are protected within its borders. Of course, we still can say that it’s not a totalitarian regime, not yet at least. When looking throughout history, we can find a lot of examples that show us that few are the steps to be taken so that the sky is divided by the Iron Curtain.</h5>
        <h5>“Foreign agent”. Sounds quite familiar, does it not? Here, in Russia, in 2021, we heard these words over and over again. Every month some kind of media publication, independent organization, person that affirms points of view that aren’t aligned with the governments’ is deemed a foreign agent. The whole story has its roots in 2017. According to the law, truth, independence and freedom should be protected, but every so-called agent is faced with an assortment of problems, from obligations to mark all their publications and begin each oral statement with a disclosure that it is being given by a “foreign agent”, limiting the way foreign organizations can make tax-exempt donations, all the way to rent and legal issues. Most of the organizations helped people in need: women and children who have been victims of abuse as well as migrants and refugees by providing legal assistance, psychological and material aid.</h5>
        <h5>At first glance, these events seem so far away from our daily lives and from the public’s consciousness, but, in reality, they’re not as impalpable as we think.</h5>
        <h5>July of 2021 was the hottest month of summer in Moscow. I attended classes organized by the Jewish Museum, the subject matter being teenage migration. Being a migrant is an essential part of my identity, so I was curious about others’ experience. On the second day we spoke about life in our native cities and countries. Mehmud, a 19-year-old cameraperson, was the second individual to tell his story. To be completely honest, the main thing I remembered him saying in his speech was the fact that he is originally from Afrin, a Kurdish town.  Several days later I started researching Kurdistan and the conflict which made this young man migrate to Russia. Well, to make a long story short, I have never experienced that much empathetic sorrow in my life.</h5>
        <h5>When he said “Civil Assistance”* volunteers and workers were those who helped him start his journey in Russia, I was fascinated. It all used to seem so far away from daily life but, in truth, they surround us. The CA fund specializes in helping refugees and migrants adapt to the realities of their new lives. They provide legal and psychological aid, teach languages, and unite communities.</h5>
        <h5>I asked Mehmud to tell his story and share his opinion: “I don`t remember in detail how I got into CA, but somebody told me about it, I think. I remember they helped refugees with legal documents and taught those who couldn’t attend classes in schools. I needed some help with legal papers and, of course, my wish to continue my studies required a higher level of knowledge than I possessed at the time.</h5>
        <h5>The fund`s aid is the reason why I speak Russian brilliantly and have plenty of friends! Documents are essential, if I hadn`t received help with acquiring them, I wouldn`t have even been able to go outside. I can go out, take long walks through the city and live in Moscow freely.</h5>
        <h5>The importance of CА cannot be assessed nor measured. Young people coming to the fund understand each other despite speaking different languages, they feel united and have lots of opportunities to develop in different areas of their lives.</h5>
        <h5>The chaos that would be caused by the CA being shut down would be immeasurable. Lots of children and adults would be so lost in foreign country, without help, language assistance services, or guidance. I just can’t bear to even think of such a possibility!”</h5>
        <h5>The saddest part is that most “foreign agents” face threats, and they can`t conduct business the way they used to. Some of them even face liquidation. We can all support “agents” by volunteering, donating and spreading awareness. Nowadays, the organizations that are most demonized may do the most valuable work, even if it`s difficult.</h5>
        <h6>* Civil Assistance fund is recognized as a foreign agent in Russian Federation. It is necessary to put this remark.</h6>
    </div>
    <%- include("../partials/footer-article") %>
</body>